html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  --header-height: 120px;
  &.no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  &.customize-support {
    --header-height: 150px;
    @media (max-width: 1200px) {
      --header-height: 58px;
    }
    header {
      top: 32px;
    }
    .banner {
      .swiper-slide {
        height: calc(100vh - 150px);
      }
    }
    .shopping-bag-offcanvas {
      top: 32px;
      height: calc(100vh - 32px);
    }
    main {
      margin-top: var(--header-height);
    }
  }
  @media (max-width: 1200px) {
    --header-height: 70px;
  }
}

main {
  margin-top: var(--header-height);
}

section {
  padding: 60px 0;

  @media (max-width: 578px) {
    padding: 40px 0;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 22px;
  margin-bottom: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
