.quam-btn {
  padding: 14px 25px;
  @include center-all;
  width: fit-content;
  font-weight: 700;
  font-size: 17px;
  height: 50px;
  transform-origin: center;
  will-change: transform;
  transition: all 0.2s;
  position: relative;
  z-index: 4;
  &:disabled {
    opacity: 0.5;
  }
  

  &.red {
    background: $red;
    color: $white;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $white;
      color: $red;
      background: $white;
    }
  }

  &.white {
    background: $white;
    color: $black;

    &:hover {
      color: $white;
      background: $black;
    }
  }

  &.blue {
    border: 1px solid $blue;
    background: $dark_blue;
    color: $white;
    border: 1px solid transparent;
    &:not(:disabled) {
      &:hover {
        border: 1px solid $white;
        color: $dark_blue;
        background: $white;
        border: 1px solid $blue;
      }
    }
  }
  &.sm-btn {
    padding: 10px 25px;
    font-size: 16px;
    height: auto;
  }
}

.red {
  color: $red;
}
