.CardProducts {
  overflow: hidden;
  &:before, &::after{
    position: absolute;
    visibility: hidden;
  }
  &::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: 0.8;
    z-index: 4;
  }
  &::after{
    content: "Añadiendo al carrito";
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 50%;
    animation: pulse infinite 1s;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  &:has(.loading){
    &:before, &::after{
      visibility: visible;
    }
  }
  @keyframes addedBg {
    0%{
      opacity: 1;
      visibility: visible;
    }
    80%{
      opacity: 1;
      visibility: visible;
    }
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }
  &:has(.added){
    &:before, &::after {
      animation: addedBg 1.2s forwards;
    }

    &::after {
      content: "Producto añadido";
    }
  }
  img {
    left: 0;
  }

  .info-highlights {
    .product-info {
      grid-template-areas:
        "uno uno"
        "dos tres";

      @media (max-width:991px) {
        grid-template-areas:
          "uno "
          "dos "
          "tres ";
      }

      .cfvsw_variations_form {
        display: none;
      }
    }

    h5,
    h2 {
      margin-bottom: 0px;
      color: #262524;
      font-weight: 700;
      text-transform: uppercase;
      @include text-line-1;
      text-transform: capitalize;
      line-height: 1.6;

      @media (max-width:991px) {
        text-align: center;
      }
    }

    .price {
      margin-bottom: 0;
      color: $gray;
      display: flex;
      align-items: center;
      gap: 6px;
      line-height: 1;

      &::after {
        content: "";
        height: 20px;
        border-right: 1px solid #aaa;
        order: 2;
        display: flex;
      }

      del {
        order: 1;
      }

      ins {
        order: 3;
        color: $red;
        font-weight: 700;
      }

    }

    h2 {
      font-size: 14px;
    }

    .price,
    h5 {
      font-size: 17px;
    }

    .regular-price {
      span {
        color: #26252487 !important;
        font-size: 15px;
      }

      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #b3b3b3;
        top: 50%;
      }
    }
    .add-to-cart-container{
      color: #262524;
    }

    del bdi {
      opacity: 0.6;
    }
  }

  .variants-selection {
    max-height: 22px;
    .size-selection, .color-selection{
      gap: 10px;
      background: transparent;
      position: relative;
      z-index: 2;
    }
    .size-selection {
      visibility: hidden;
      opacity: 0;
      margin-left: 30px;
      transition: all 0.2s 0.05s;

      &.show-colors {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
      }
    }

    .color-selection {
      &:not(:has(.active-color)) {
        button:first-child {
          outline: 1px solid #000;
          outline-offset: 2px;
        }
      }
    }
  }


  .img-fit,
  .img-contain {
    aspect-ratio: 1 / 1.3;
    margin-bottom: 16px;
    border-radius: 5px;

    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // background: #f2f2f2;
    @media (max-width:768px) and (min-width:578px) {
      height: 60vw;
    }

    @media (max-width:578px) {
      aspect-ratio: 1 / 1.5;
      height: 80vw;
      width: 100%;

      img {
        object-position: bottom center;
        object-fit: cover;
      }
    }

    img {
      // mix-blend-mode: multiply;
      transition: all 0.3s;
      left: 0;

      &:not([src]) {
        font-size: 0;
        opacity: 0;
        visibility: hidden;
      }

      &:nth-child(2) {
        opacity: 0;
        left: 0;
      }
    }

    &:has(.img-contain img:nth-child(2)) {
      .img-contain img:nth-child(2) {
        opacity: 0;
        left: 0;
      }

    }

    // @media (max-width:578px){
    //   aspect-ratio: 1/1.3;
    // }
  }

  &.outofstock {
    .img-contain {
      img {
        &:nth-child(1) {
          opacity: 0.6;
        }
      }

      &::before {
        content: "Sin existencias";
        position: absolute;
        background: #fff;
        font-weight: 600;
        padding: 10px 15px;
        z-index: 5;
        width: 80%;
        text-align: center;
      }
    }
  }

  .button-heart {
    min-width: 38px;
    top: 15px;
    right: 0px;
    // background: #d4dae5b5;
    border-radius: 50px;
    border: none;
    color: #aaa;

    &.active-fav {
      background: $red;
      color: #fff;
    }

    @media (max-width:768px) {
      min-width: 35px;
      height: auto;
      width: 35px;
    }
  }

  &:not(.outofstock) {
    &:has(.img-contain img:nth-child(2)) {
      &:hover {

        .img-fit,
        .img-contain {
          img {
            &:nth-child(1) {
              opacity: 0;
            }

            &:nth-child(2) {
              opacity: 1;
              left: 0;
            }
          }
        }
      }
    }

  }

  .oferta .onsale,
  .discount {
    top: 12px !important;
    left: 12px !important;
    background: $red;
    z-index: 2;

    @media (max-width:786px) {
      font-size: 15px;
      top: 8px;
      left: 8px;
    }
  }

  .cfvsw_variations_form {
    grid-area: uno;
    margin-bottom: 5px;

    .label {
      display: none;
    }

    tbody {
      padding: 0;
      display: flex;
      flex-direction: column;

      tr {
        margin-bottom: 0;
        padding: 0;

        &:has([swatches-attr="attribute_pa_color"]) {
          order: 1;
        }

        order: 2;

        td {
          &:has(.d-none) {
            padding: 0;
          }
        }
      }
    }



    .cfvsw-swatches-container {
      margin: 0 auto;

      .cfvsw-tooltip {
        span {
          color: #fff;
        }
      }

      .cfvsw-swatches-option {
        width: 24px;
        height: 24px;
        min-height: 24px !important;
        min-width: 24px !important;
        border-radius: 50% !important;
        border-width: 2px;
        line-height: 1;

        .cfvsw-swatch-inner {
          width: calc(100% - 0px);
          height: calc(100% - 0px);
        }

        &.cfvsw-selected-swatch {
          .cfvsw-swatch-inner {
            width: calc(75% - 2px);
            height: calc(75% - 2px);
          }

        }
      }

    }

    [swatches-attr="attribute_pa_talla"] {
      .cfvsw-swatches-option {
        &.cfvsw-selected-swatch {
          background: $dark_blue;
          color: #fff;
          border-color: #ccc !important;
        }
      }
    }

  }

  .add-to-cart-container {
    .add-btn {
      right: 0;
      bottom: 80px;
      background-color: #ccc;
      padding: 5px;
      border-radius: 4px;
      transition: all 0.25s;
      opacity: 1;
      &.hide-btn{
        right: 25px;
        opacity: 0;
      }
    }

    a {
      position: relative;
      pointer-events: none;
      border-radius: 8px !important;
      filter: grayscale(1);
      opacity: 0.6;
      background: #ccc;
      width: 100%;
      display: none;
      justify-content: center;
      padding: 12px 14px;
      line-height: 1;
      font-weight: 600;
      color: transparent !important;

      @media (max-width:991px) {
        font-size: 15px;
        white-space: nowrap;
      }

      &:before {
        content: "Añadir al carrito";
        position: absolute;
        color: initial;
        width: 100%;
        left: 0;
      }

      &::after {
        color: #fff;
        margin-left: 0;
      }


      @keyframes showhide_out_one {
        0% {
          visibility: visible;
        }

        75% {
          visibility: visible;
        }

        100% {
          visibility: hidden;
        }
      }

      @keyframes showhide_out_two {
        0% {
          content: "Añadido";
          padding-right: 10px;
        }

        75% {
          content: "Añadido";
          padding-right: 10px;
        }

        100% {
          content: 'Añadir al carrito';
        }
      }

      @keyframes pulse {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0.5;
        }

        100% {
          opacity: 1;
        }
      }

      &.cfvsw_variation_found {
        pointer-events: initial;
        filter: none;
        opacity: 1;
        background: $red;

        &::before {
          color: #fff;
        }

        &.loading {
          animation: pulse infinite 1s;

          &::before {
            content: "Añadiendo";
            padding-right: 15px;
          }
        }

        &.added {


          &:before {
            animation: showhide_out_two 1.2s;
          }

          &::after {
            animation: showhide_out_one 1s forwards;
            position: absolute;
            right: 16px;
          }
        }

        &:hover {
          background: #eb2c3b !important;
        }
      }
    }

    .added_to_cart {
      display: none;
    }

  }

  .add_to_cart_button {
    text-align: center;
    width: 100%;
  }

  .cfvsw_variations_form {
    width: 100% !important;
  }

  .color-circle,
  .size-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: all 0.3s ease;
    will-change: transform;

    &.active-color {
      outline: 1px solid black;
      outline-offset: 2px;
    }
    &.active-size{
      outline: 1px solid #fff;
      outline-offset: 3px;
    }
  }

  .color-circle {
    border: 2px solid #fff;
    /* Un borde blanco para mayor visibilidad */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
  }

  .color-circle:hover,
  .size-circle:hover {
    transform: scale(1.1);
    /* Efecto de agrandamiento al pasar el mouse */
  }

  .size-circle {
    background-color: #f8f9fa;
    /* Color de fondo para los tamaños */
    color: #333;
  }
}



@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}