.CardProducts {
  img{
    left: 0;
  }
  .info-highlights {
    display: flex;
    flex-direction: column;

    h5,
    h2 {
      margin-bottom: 0px;
      color: #262524;
      font-weight: 700;
      font-size: 17px;
      text-transform: uppercase;

      @media (max-width:578px) {
        font-size: 15px;
      }
    }

    span {
      margin-bottom: 0;
      color: $gray;
      font-size: 17px;
    }

    .regular-price {
      span {
        color: #26252487 !important;
        font-size: 15px;
      }

      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #b3b3b3;
        top: 50%;
      }
    }

    del bdi {
      opacity: 0.6;
    }
  }

  .img-fit,
  .img-contain {
    aspect-ratio: 1 / 1.3;
    margin-bottom: 16px;
    border-radius: 5px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #f2f2f2;

    img {
      mix-blend-mode: multiply;
      transition: all 0.3s;
      left: 0;

      &:not([src]) {
        font-size: 0;
        opacity: 0;
        visibility: hidden;
      }

      &:nth-child(2) {
        opacity: 0;
        left: 0;
      }
    }

    &:has(.img-contain img:nth-child(2)) {
      .img-contain img:nth-child(2) {
        opacity: 0;
        left: 0;
      }

    }

    // @media (max-width:578px){
    //   aspect-ratio: 1/1.3;
    // }
  }

  &.outofstock {
    .img-contain {
      img {
        &:nth-child(1) {
          opacity: 0.6;
        }
      }

      &::before {
        content: "Sin existencias";
        position: absolute;
        background: #fff;
        font-weight: 600;
        padding: 10px 15px;
        z-index: 5;
        width: 80%;
        text-align: center;
      }
    }
  }

  &:not(.outofstock) {
    &:has(.img-contain img:nth-child(2)) {
      &:hover {

        .img-fit,
        .img-contain {
          img {
            &:nth-child(1) {
              opacity: 0;
            }

            &:nth-child(2) {
              opacity: 1;
              left: 0;
            }
          }
        }
      }
    }

  }

  .oferta .onsale {
    top: 12px !important;
    left: 12px !important;
  }

  .cfvsw_variations_form {
    position: absolute;
    bottom: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);

    .label {
      display: none;
    }

    tbody {
      padding: 0;
      display: flex;
      flex-direction: column;

      tr {
        margin-bottom: 0;
        padding: 0;

        &:has([swatches-attr="attribute_pa_color"]) {
          order: 1;
        }

        order: 2;
      }
    }



    .cfvsw-swatches-container {
      margin: 0 auto;

      .cfvsw-tooltip {
        span{
          color: #fff;
        }
      }

      .cfvsw-swatches-option {
        width: 24px;
        height: 24px;
        min-height: 24px !important;
        min-width: 24px !important;

        .cfvsw-swatch-inner {
          width: calc(100% - 0px);
          height: calc(100% - 0px);
        }

        &.cfvsw-selected-swatch {
          .cfvsw-swatch-inner {
            width: calc(75% - 2px);
            height: calc(75% - 2px);
          }

        }
      }

    }

    [swatches-attr="attribute_pa_talla"] {
      .cfvsw-swatches-option {
        &.cfvsw-selected-swatch {
          background: $dark_blue;
          color: #fff;
          border-color: #ccc !important;
        }
      }
    }

  }

  .add-to-cart-container {
    a {
      pointer-events: none;

      &.cfvsw_variation_found {
        pointer-events: initial;
      }
    }

    .added_to_cart {
      display: none;
    }


  }

  .add_to_cart_button {
    text-align: center;
    width: 100%;
  }

}

@media (max-width: 770px) {
  .info-highlights {
    padding: 5px 10px 5px 15px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}