header {
  position: fixed;
  z-index: 14;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: all 0.2s;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .header-contact {
    background: $dark_blue;
    color: $white;
    font-size: 14px;
    padding: 14px 0;
    transition: all 0.3s;
    top: 0;
    position: relative;

    .contact {
      a {
        margin-right: 10px;
        padding-left: 10px;
        align-items: center;
        display: flex;
        border-left: 2px solid white;

        &:first-child {
          border-left: 2px solid transparent;
          padding-left: 0;
        }
      }

      span {
        @media (max-width: 990px) {
          display: none;
        }
      }

      p {
        @media (max-width: 580px) {
          display: none;
        }
      }

      i {
        margin-right: 7px;
        font-size: 17px;
      }
    }

    .img-fit {
      filter: grayscale(1);
      width: 100%;
      height: 20px;
    }
    @media (max-width: 991px) {
      display: none;
    }
  }

  .info-contact {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px 0;
    background: white;
    transition: all 0.3s;
    top: 0;
    position: relative;
    nav {
      .nav_links {
        display: flex;
        width: 100%;


        @media (max-width: 768px) {
          display: flex;
          align-items: center !important;
        }
        .header-actions {
          gap: 14px;
          button {
            width: 35px;
            height: 35px;
          }
          .cart-section-quantity {
            padding-bottom: 2px;
            top: -6px;
            width: 20px;
            aspect-ratio: 1;
            right: -5px;
            line-height: 0;
            background: $red;
          }
          i {
            font-size: 22px;
          }

          .icon-user {
            font-size: 24px;
          }

          @media (max-width: 991px) {
            // position: absolute;
            // top: 60px;
            // right: -4px;
            // flex-direction: column-reverse;
            flex-direction: row;
          }
        }

        .mobile-menu {
          display: flex;
          gap: 24px;
          align-items: center;

          @media (min-width: 1450px) {
            gap: 30px;
          }

          @media (max-width: 1200px) {
            position: fixed;
            padding: 25px;
            height: calc(100vh - 0px);
            align-items: flex-start;
            flex-direction: column-reverse;
            transition: all 0.3s;
            top: 0px;
            right: 0;
            transform: translateX(100%);
            overflow: auto;
            background: $dark_blue;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding-top: 100px;
            align-items: center;
            justify-content: right;
            overflow: hidden;
            // @include center-all;

            &:before {
              content: "";
              position: absolute;
              background-image: url(media/images/mobile-menu.svg);
              background-repeat: no-repeat;
              width: 200px;
              height: 100%;
              left: 0;
              z-index: -1;
            }

            &:after {
              content: "";
              position: absolute;
              background-image: url(media/images/Logo-mobile.png);
              background-repeat: no-repeat;
              width: 83%;
              height: 60px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              filter: invert(1);
            }

            .logo {
              position: absolute;
              top: 6px;
              left: 20px;
              width: 170px;
              height: 60px;
            }

            a {
              font-size: 18px;
      
              &:nth-child(1) {
                border-top: 1px solid #ccc;
      
                @media (max-width: 1200px) {
                  border: none;
                }
              }
            }

            &.show-menu {
              transform: translateX(0%);

              .logo {
                filter: none;
                transition: all 0.2s;
              }

              .info-contact {
                top: -50px;
              }
            }
          }

          .logo.img-fit {
            display: none;

            @media (max-width: 1200px) {
              display: flex;
            }
          }

          .active {
            position: relative;
            color: black;
            font-weight: 600;

            &:before {
              content: "";
              position: absolute;
              height: 3px;
              width: 82%;
              bottom: -3px;
              left: 50%;
              transform: translateX(-50%);
              background: $dark_blue;
            }

            @media (max-width: 1200px) {
              background: #eeebeb;
              width: 100%;

              &:before {
                display: none;
              }
            }
          }

          a,
          .link_item {
            display: flex;
            align-items: center;
            font-size: 17px;
            font-weight: 500;
            position: relative;
            transition: all 0.3s;
            padding: 2px;
            // text-transform: lowercase;

            // ::first-letter {
            //     text-transform: capitalize;
            // }

            @media (max-width: 1200px) {
              position: relative;
              color: $white;
              padding-left: 15px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              transition: all 0.3s;
              @include center-all;

              &:hover {
                color: #828282;
              }

              &:active {
                position: relative;
                color: #1e1e1e;
                padding-left: 30px;
                transition: all 0.3s;
              }
            }

            @media (max-width: 1200px) {
              padding: 4px;
            }

            i {
              @include center-all;
              justify-content: flex-start;
            }
          }

          .search {
            input {
              position: relative;
              background: rgb(119 123 129 / 20%);
              border-radius: 5px;
              padding: 5px 5px 5px 35px;
              border: none;
              height: 40px;
              width: 250px;
              color: black;
              &::placeholder {
                // color: $white;
                font-size: 14px;
              }
            }

            .icon-search {
              position: absolute;
              left: 13px;
              top: 50%;
              transform: translateY(-50%);
              color: black;
            }
            @media (max-width:1200px) {
              input {
                background: rgba(236, 236, 236, 0.2);
                color: #fff;
                width: 100%;
                &::placeholder{
                  color: #ddd;
                }
              }
            }
            @media (max-width: 991px) {
              max-width: 350px;
              width: 100%;
              input {
                background: rgba(236, 236, 236, 0.2);
                color: #fff;
                width: 100%;
                &::placeholder{
                  color: #ddd;
                }
              }
              .icon-search {
                color: #fff;
              }
            }
          }
          @media (max-width: 500px) {
            width: 100%;
            padding-top: 100px;
            top: 0;
            border-radius: 0;
            height: 100vh;
          }
        }

        h1 {
          @include center-all;
          height: 100%;
          margin-right: 20px;
          width: 130px;
          max-height: 9px;
        }

        .logo {
          display: flex;

          @media (max-width: 991px) {
            transform: translate(0);
            height: fit-content;
            width: 90px;
          }

          @media (max-width: 768px) {
            height: fit-content;
            width: 150px;
          }
        }
      }

      .logo,
      .menu-btn {
        position: relative;
        z-index: auto;
      }

      .menu-btn {
        // margin-right: 22px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: self-end;
        justify-content: center;
        margin-left: 5px;

        div {
          width: 24px;
          height: 2px;
          border-radius: 10px;
          transition: all 0.3s ease;
          border: 1px solid $dark-blue;
          background: $dark-blue;

          &:nth-child(2) {
            width: 18px;
            background: $dark-blue;
          }

          &:nth-child(3) {
            width: 24px;
          }
        }

        &.close {
          div {
            &:nth-child(1) {
              transform: rotate(45deg) translateY(5px) translateX(5px);
              background: $white !important;
              border: 1px solid $white;
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: rotate(-45deg) translateY(-6px) translateX(6px);
              background: $white !important;
              border: 1px solid $white;
              width: 26px;
            }
          }

          @media (max-width: 1200px) {
            border: 1px solid transparent;
            align-items: center;

            div {
              background: black;
            }
          }
        }

        &.infoshow-menu {
          background: red;
        }
      }
    }
    &.infoshow-menu {
      // @media (min-width: 991px) {
      //   margin-top: -47px;
      //   transition: all 0.3s;
      // }
      .header-actions {
        button {
          i {
            color: #fff;
          }
        }
      }
      .logo {
        z-index: 3;
        transition: all 0.2s 0.2s;
        filter: contrast(0) brightness(5);
      }
    }
  }

  @media (min-width: 1200px) {
    .menu-btn {
      display: none !important;
    }
  }

  @media (max-width: 1200px) {
    .mobile-menu {
      // position: fixed;
      // background: #5a5a5a;
      // padding: 25px;
      // height: calc(100vh - 0px);
      // width: 380px;
      // right: 0;
      // transform: translateX(100%);
      // top: 0;
      // gap: 0 !important;
      // flex-direction: column;
      // transition: all 0.3s;
      // top: 0px;

      @media (max-width: 991px) {
        height: 100vh;
        top: 0px;
      }

      @media (max-width: 500px) {
        top: 71px;
        height: calc(100vh - 71px);
      }

      
    }
  }

  &.sticky-header {
    .header-contact,
    .info-contact {
      transition: all 0.3s;
      position: relative;
    }
    @media (min-width: 991px) {
      .header-contact,
      .info-contact {
        top: -50px;
      }
    }

    .info-contact {
      &.infoshow-menu {
        margin-top: 0px;
        transition: all 0.3s;
      }
    }
  }

  > a,
  .submenu > button {
    position: relative;

    @media (max-width: 1200px) {
      color: #222;
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      left: 0;
      background: #fff;
      bottom: -15px;
      border-radius: 10px;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}

.shopping-bag-offcanvas {
  .btn-close {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }

  .offcanvas-title {
    font-weight: 700;
    font-size: 26px;
  }
 

  .price {
    font-size: 17px;

    p {
      margin-bottom: 0;
      font-weight: 600;
      margin-right: 10px;
      color: #000000;
    }

    // span {
    //   position: relative;

    //   &:before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 2px;
    //     background: #b3b3b3;
    //     top: 50%;
    //   }
    // }
  }

  p {
    margin-bottom: 0;
    font-weight: 600;
  }

  h5 {
    font-weight: 700;
  }

  .offcanvas-footer {
    border-radius: 24px 24px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 24px;
  }
}
// btn whatsapp
.btn-whatsapp{
  width: 60px;
  height: 60px;
  right: 20px;
  bottom: 20px;
  z-index: 9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
  background:  #25D366;
  padding: 8px;
  @media (max-width:990px) {
    width: 45px;
    height: 45px;
    padding: 5px;
  }
}
.small{
  transition: .2s;
  bottom: 165px;
}
.btn-whatsapp:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2);
}