@import 'footer';
@import 'header';

@media (min-width: 1800px) {
    .container {
      max-width: 1700px;
    }
  }
  
  @media (max-width: 1200px) {
    .container {
      max-width: 100%;
      padding: 0 30px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0 20px;
    }
  }

  .goverlay{
    background: #00000078 !important;
  }