#bannerCategory {
  background: $dark_blue;
  height: 250px;
  @include center-all;
  color: white;
  text-align: center;

  @media (max-width: 991px) {
    height: 150px;
  }

  &:not(.campaign) {
    &:before {
      content: "";
      position: absolute;
      background-image: url(media/images/Logo-transparent.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 222px;
      width: 930px;
      bottom: -82px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.5;

      @media (max-width: 991px) {
        height: 103px;
        width: 456px;
        bottom: -17px;
      }
    }
  }

  &.campaign {
    height: 300px;
  }

  .section-subtitle {
    text-transform: uppercase;
  }
}

.select-box {
  position: relative;
  display: inline-block;

  * {
    margin-bottom: 0 !important;
  }

  select {
    max-width: 250px;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    appearance: none;

    @media (max-width:450px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    transition: transform 0.3s ease;
  }

  select:focus+.arrow {
    transform: translateY(-50%) rotate(180deg);
  }
}

.filtering-responsive-btns {
  background: rgba($dark_blue, 0.65);
  color: #fff;

  &:active {
    background: rgba($dark_blue, 0.2);
  }
}

.yith-wcan-filters {
  margin-bottom: 0 !important;

  .yith-wcan-filter {
    margin-bottom: 0 !important;
    min-width: 200px;
  }

  .yith-wcan-dropdown {
    padding: 10px 15px !important;
  }

  form {
    display: flex;
    gap: 10px;
  }

  h4 {
    display: none;
  }
}

.products {

  // margin: 0 10px 0 5px;
  @media (max-width:768px) {
    .select-box {
      margin-top: -50px;
      height: 48px;
      opacity: 0;
      select {
        padding: 0;
        border: none;
      }
    }
  }

  p {
    font-weight: 600;
  }

}

#infoProducts {
  position: relative;
  overflow: hidden;

  &.loading {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(238, 238, 238, 0.4);
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    .galleryP {
      .product {
        animation: load 1.5s infinite;
      }

      @keyframes load {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding-bottom: 0;
  }

  // &:before{
  //   content: "";
  //   background-image: url(media/images/filtro.png);
  //   background-repeat: no-repeat;
  //   width: 100%;
  //   bottom: 0;
  //   position: absolute;
  //   height: 728px;
  //   z-index: 4;
  //   @media(max-width:768px){
  //     display: none;
  //   }

  // }

  // .container {
  //   @media (max-width: 768px) {
  //     padding: 0;
  //   }
  // }

  .galleryP {
    row-gap: 40px;

    .product {

      // &:nth-child(10n - 1),
      // &:nth-child(10n) {
      //   width: 50%;
      // }

      @media (max-width: 768px) {

        &:first-child {
          width: 100%;
        }

        &:nth-child(9n - 1) {
          width: 100%;
        }

        &:nth-child(2n),
        &:nth-child(4n) {
          padding-right: 10px;
        }

        &:nth-child(3n),
        &:nth-child(5n) {
          padding-left: 10px;
        }
      }
    }
    @media (max-width:768px){
      row-gap: 25px;
    }
  }

  .select_men {
    @media (max-width: 768px) {
      flex-direction: row;
      width: 100%;
    }
  }

  .select {
    @media (max-width: 991px) {
      flex-wrap: wrap;
      @include center-all;
    }
  }
}

/* Pagination links */
.pagination {
  .page-item {
    a {
      color: $dark_blue;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      color: $dark_blue;
      background: rgb(0 46 114 / 9%);
      margin-right: 10px;
      display: flex;
    }

    &.active {
      a {
        background: $dark_blue;
        color: #fff;

        &.next,
        &.prev {
          border: 1px solid $dark_blue;
          background: transparent;
          color: $dark_blue;

          &:hover {
            background: #eee;
          }
        }
      }
    }
  }
}


/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

// estilos filtros
#filterForm {
  button {
    border-radius: 5px;
  }
}

.filtro-activo-contenedor {
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: end;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 5px;
      background: #eeeeee;
      margin: 5px;
      border-radius: 5px;
    }
  }

  button {
    background: rgb(194, 194, 194);
    margin-left: 5px;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
  }
}

.input-box {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  height: 48px;
  overflow: hidden;
  width: 135px;

  input {
    padding: 15px;
    border: none;
    outline: none;
    height: 50px;
  }

  select {
    height: 100%;
    border: none;
    cursor: pointer;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px white inset !important;
    /* Para navegadores basados en WebKit como Chrome y Safari */
    -webkit-text-fill-color: inherit !important;
    /* Para asegurar que el texto sea visible */
  }
}

.cont-select-box {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 10px;

  label {
    font-weight: 800;
  }

  .select-box {
    &:has(select) {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid black;
        transition: transform 0.3s ease;
      }
    }
  }
}

.span-price-sign {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cont-flecha {
  background: rgb(255, 255, 255);
  height: 22px;
  top: 14px;
  width: 22px;
  position: absolute;
  right: 0px;
  z-index: 1;

  .arrow {
    right: 5px;
  }
}

.btn-filter-responsive {
  display: none;
}

// elementos filtros-responsivos
.close-filtros {
  display: none;
}


@media (max-width:1200px) {
  .btn-filter-responsive {
    display: flex;
    align-items: end;
    justify-content: end;

    .select-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
    }
  }

  .cont-form-responsive {
    position: fixed;
    width: 300px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
    top: 119px;
    padding-top: 20px;
    right: -300px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all .3s;
    justify-content: start;

    .cont-flecha {
      background: transparent;
    }

    #filterForm {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: start;
      width: 80%;
      margin: 10px auto;

      >div {
        width: 100%;
      }
    }

    .span-price-sign {
      display: none;
    }

    .close-filtros {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: 2px auto;
      padding: 13px;
      border-bottom: 1px solid #ccc;

      h2 {
        font-size: 16px;
        margin: 0;
        font-weight: 600;
      }

      svg {
        color: rgb(107, 107, 107);
        width: 35px;
        height: 35px;
      }
    }

    .titulo-menu-filtro {
      margin-top: 50px;
    }

    .select-box {
      margin: 0px 0 10px 0;
    }

    .select-box select {
      width: 100%;
      background: white;
    }

    input {
      width: 100%;
      margin-bottom: 0px;
    }

    .cont-select-box {
      width: 100%;
      margin: 0;

      .input-box {
        max-width: 100%;
        min-width: 100%;
      }
    }

    #filterForm button {
      width: 100%;
      margin: 0;
    }

    .filtro-activo-contenedor {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 991px) {
  .cont-form-responsive {
    top: 70px;
    padding-top: 5px;

    .cont-form-responsive #filterForm {
      margin: 10px auto 40px;
    }
  }
}

.toggle {
  right: 0;
}