#bannerCategory {
  background: $dark_blue;
  height: 250px;
  @include center-all;
  color: white;
  text-align: center;

  @media (max-width: 991px) {
    height: 150px;
  }

  &:before {
    content: "";
    position: absolute;
    background-image: url(media/images/Logo-transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 222px;
    width: 930px;
    bottom: -82px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;

    @media (max-width: 991px) {
      height: 103px;
      width: 456px;
      bottom: -17px;
    }
  }

  .section-subtitle {
    text-transform: uppercase;
  }
}

.select-box {
  position: relative;
  display: inline-block;
  * {
    margin-bottom: 0 !important;
  }
  select {
    min-width: 150px;
    max-width: 200px;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    appearance: none;
  }
  .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    transition: transform 0.3s ease;
  }
  select:focus + .arrow {
    transform: translateY(-50%) rotate(180deg);
  }
}

.yith-wcan-filters {
  margin-bottom: 0 !important;
  .yith-wcan-filter {
    margin-bottom: 0 !important;
    min-width: 200px;
  }
  .yith-wcan-dropdown {
    padding: 10px 15px !important;
  }
  form {
    display: flex;
    gap: 10px;
  }
  h4 {
    display: none;
  }
}

.products p {
  font-weight: 600;

}

#infoProducts {
  position: relative;
  overflow: hidden;
  &.loading {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(238, 238, 238, 0.4);
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .galleryP {
      .product {
        animation: load 1.5s infinite;
      }
      @keyframes load {
        0%{
          opacity: 1;
        }
        50%{
          opacity: 0.7;
        }
        100%{
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding-bottom: 0;
  }

  // &:before{
  //   content: "";
  //   background-image: url(media/images/filtro.png);
  //   background-repeat: no-repeat;
  //   width: 100%;
  //   bottom: 0;
  //   position: absolute;
  //   height: 728px;
  //   z-index: 4;
  //   @media(max-width:768px){
  //     display: none;
  //   }

  // }

  .container {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .galleryP {
    row-gap: 20px;
    .product {
      &:nth-child(10n - 1),
      &:nth-child(10n) {
        width: 50%;
      }

      @media (max-width: 768px) {

        &:first-child {
          width: 100%;
        }

        &:nth-child(9n - 1) {
          width: 100%;
        }

        &:nth-child(2n),
        &:nth-child(4n) {
          padding-right: 10px;
        }

        &:nth-child(3n),
        &:nth-child(5n) {
          padding-left: 10px;
        }
      }
    }
  }

  .select_men {
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .select {
    @media (max-width: 991px) {
      flex-wrap: wrap;
      @include center-all;
    }

    div {
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
    }
  }
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  color: $dark_blue;
  background: rgb(0 46 114 / 9%);
  margin-right: 10px;
}

/* Style the active/current link */
.pagination a.active {
  background-color: $dark_blue;
  color: white;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
