#banner {
    padding: 0;

    .swiperBanner-button-next,
    .swiperBanner-button-prev {
        @include center-all;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateX(-50%);

        i {
            color: $white;
            font-size: 50px;
        }
    }

    .swiperBanner-button-prev {
        left: 45px;

        @media(max-width:991px) {
            top: 40%;
        }
    }

    .swiperBanner-button-next {
        right: 0px;

        @media(max-width:991px) {
            top: 40%;
        }
    }
}

.banner {
    position: relative;
    z-index: 2;

    @media(max-width:578px) {
        height: auto;
    }

    .info-banner {
        @media(max-width:1400px) {
         padding-left: 40px;
        }
        @media(max-width:600px) {
            text-align: center;
            @include center-all;
            flex-direction: column;
        }
        a{
            @media (max-width:991px) {
                margin-left: 55px;
            }
            @media (max-width:768px) {
                margin-left: 0;
            }
        }
        span {
            font-size: 24px;
        }
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     background-image: url(media/images/vector-banner-q2.svg);
    //     background-repeat: no-repeat;
    //     width: 400px;
    //     height: 405px;
    //     bottom: -75px;
    //     z-index: 1;
    //     left: 0;
    //     transform: rotate(180deg);

    //     @media(max-width:991px) {
    //         display: none;
    //     }
    // }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     background-image: url(media/images/vector-banner-q1.svg);
    //     background-repeat: no-repeat;
    //     width: 102px;
    //     height: 114px;
    //     bottom: 77px;
    //     z-index: 3;
    //     right: 0;
    //     transform: rotate(270deg);
    //     @media(max-width:991px) {
    //         display: none;
    //     }
    // }

    .container {
        // &::before {
        //     content: "";
        //     position: absolute;
        //     background-image: url(media/images/vector-banner-q1.svg);
        //     background-repeat: no-repeat;
        //     width: 102px;
        //     height: 114px;
        //     top: 77px;
        //     z-index: 3;
        //     left: 5%;
        //     transform: rotate(211deg);
        //     @media(max-width:991px) {
        //         display: none;
        //     }
        // }

        // &::after {
        //     content: "";
        //     position: absolute;
        //     background-image: url(media/images/vector-banner-q2.svg);
        //     background-repeat: no-repeat;
        //     width: 300px;
        //     height: 250px;
        //     top: 70px;
        //     z-index: 1;
        //     right: 0;
        //     transform: rotate(270deg);
        //     @media(max-width:991px) {
        //         display: none;
        //     }
        // }
    }


    .swiper-slide {
        background: $dark_blue;
        // background: linear-gradient(103deg, rgba(0, 51, 98, 1) 25%, rgba(0, 45, 114, 1) 100%);
        color: #fff;
    }

    .section-title {
        color: $white;
    }

    span {
        @media(max-width:1200px) {
            color: $red;
        }
    }

    p {
        color: white;
        margin-bottom: 20px;
        font-size: 24px;

        @media(max-width:1200px) {
            display: none;
        }
    }

    .img-contain {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 65%;
        transform: translateX(-50%) translateY(-50%);
        // height: fit-content;
        // width: 680px;
        display: flex;
        aspect-ratio: 1.2 / 1;

        @media(max-width:1200px) {
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 100%;
        }

        @media(min-width:1200px) {
            height: 100%;
        }

    }


    .swiper-slide {
        position: relative;
        height: calc(100vh - var(--header-height));
        padding: 5vw 0;
        display: flex;
        align-items: center;

        @media(max-width:768px) {
            align-items: flex-end;
            padding-bottom: 155px;
        }

        @media (max-width: 768px) {
            padding: 60px 0;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: #000;
            background: linear-gradient(180deg, #29292900 0%, rgba(41, 41, 41, 0.8) 100%);
            z-index: 1;
            mix-blend-mode: multiply;
            opacity: 0.2;
            @media(max-width:991px) {
                height: 80%;
            }
        }
    }

    .swiper-pagination {
        position: absolute;
        left: 0;
        height: 100%;
        width: 30px;
        margin: 0 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: hidden;

        @media (max-width: 768px) {
            right: 0;
            left: auto;
        }
    }

    .swiper-pagination-bullet {
        position: relative;
        background: white;
        margin: 5px 0 !important;
        opacity: inherit;
    }

    .swiper-pagination-bullet-active {
        &::after {
            content: "";
            border-radius: 100%;
            background: #ffffff78;
            font-size: 4px;
            position: absolute;
            top: -5px;
            left: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
        }
    }

    .swiperBanner-button-next,
    .swiperBanner-button-prev {
        color: white;
    }
}

.card-categories {
    height: 70dvh;
    a{
        img{
            transition: all .3s ease;
            will-change: transform;
        }
    }
    &:hover{
        > a:first-child{
            img{
                transform: scale(1.05);
            }
        }
    }
    @media(max-width:768px) {
        height: 55vh;
    }
}

.info-categories {
    bottom: 33px;
    z-index: 2;
    background: $gray;
    padding: 20px 60px;
    left: 50%;
    transform: translateX(-50%);

    h5 {
        color: $white;
        font-size: 50px;
        margin-bottom: 0;
        font-weight: 700;
        line-height: 1.1;
        @media (max-width:1400px){
            font-size: 45px;
        }
        @media (max-width:1200px){
            font-size: 40px;
        }
        @media (max-width:768px){
            font-size: 35px;
        }
    }

    a {
        color: $red;
    }
}

#generation {
    overflow: hidden;

    .generationSwiper {
        overflow: visible;
        // @media(max-width:1200px){
        //     margin-top: 70px;
        // }
    }

    .swiper-slide{
        &:not(.swiper-slide-visible){
            z-index: -1;
        }
    }

    .info-generation {
        display: flex;
        flex-direction: column;

        @media(max-width:1200px) {
            padding: 0 20px;
        }

        h5 {
            margin-bottom: 0px;
            color: #262524;
            font-weight: 800;
            font-size: 18px;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 0;
            color: $gray;
            font-size: 18px;
            margin-right: 5px;
        }

        span {
            color: #26252487;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: #b3b3b3;
                top: 50%;
            }
        }
    }


    .generation-arrows {
        i {
            color: $dark_blue;
        }

        &.swiper-button-disabled {
            opacity: 0.3;
        }

        &.prev {
            left: 0;
            margin-top: 20px;

            @media(max-width:1200px) {
                left: 10px;
                margin-top: 0;
                border-radius: 100%;
                background: #e2e2e2;
                min-height: 50px;
                width: 50px;
                border: 1px solid transparent;

                i {
                    color: black;
                }
            }
        }

        &.next {
            left: 90px;
            margin-top: 20px;

            @media(max-width:1200px) {
                right: 10px;
                left: auto;
                margin-top: 0;
                border-radius: 100%;
                background: #e2e2e2;
                min-height: 50px;
                width: 50px;
                border: 1px solid transparent;

                i {
                    color: black;
                }
            }
        }

    }

    .swiper-slide {
        overflow: visible;
    }
}

#summer_collection {
    position: relative;

    @media(max-width:768px) {
        height: auto;
    }

    .img-fit {
        height: 600px;

        @media(max-width:768px) {
            height: 400px;
        }
    }

    .info_summer {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .backgroundImg {
        position: relative;

        @media(max-width:1200px) {
            img {
                object-position: 85% top !important;
            }
        }

        @media(max-width:450px) {
            img {
                object-position: 80% top !important;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background-image: url(media/images/arrow-red.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 383px;
            width: 100%;
            top: 44%;
            transform: translateY(-56%);

            @media(max-width:768px) {
                height: 200px;
            }

            @media(max-width:450px) {
                height: 143px;
            }
        }
    }

    a {
        .info_summer {
            color: $white;
        }
    }
}

#product_highlights {
    position: relative;
    overflow: hidden;

    .section-subtitle {
        @media(max-width:1200px) {
            padding: 0 20px;
        }
    }

    .slideGeneration {
        @media(max-width:991px) {
            padding: 0;
        }
    }

    .highlights-arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        width: 38px;
        height: 38px;
        border-radius: 50px;
        padding: 0;
        border: none;
        background: transparent;
        border: 2px solid $dark_blue;
        color: white;
        width: 80px;
        height: 40px;
        font-size: 25px;
        @include center-all;

        i {
            color: blue;
        }

        &.swiper-button-disabled {
            opacity: 0.3;
        }

        &.prev {
            left: 0;
            margin-top: 20px;

            @media(max-width:1200px) {
                left: 10px;
                margin-top: 0;
                border-radius: 100%;
                background: #e2e2e2;
                min-height: 50px;
                width: 50px;
                border: 1px solid transparent;

                i {
                    color: black;
                }
            }
        }

        &.next {
            left: 90px;
            margin-top: 20px;

            @media(max-width:1200px) {
                right: 10px;
                left: auto;
                margin-top: 0;
                border-radius: 100%;
                background: #e2e2e2;
                min-height: 50px;
                width: 50px;
                border: 1px solid transparent;

                i {
                    color: black;
                }
            }
        }
    }

    .arrow-prev-container,
    .arrow-next-container {
        position: absolute;

        @media(max-width:1200px) {
            top: 50%;
            width: 100%;
        }
    }
}

.highlightsSwiper {
    overflow: visible;
    z-index: 2;

    @media(max-width:1200px) {
        margin-top: 40px;
    }

    .info-highlights {
        display: flex;
        flex-direction: column;

        @media(max-width:1200px) {
            padding: 0 20px;
        }

        h5 {
            margin-bottom: 0px;
            color: #262524;
            font-weight: 800;
            font-size: 18px;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 0;
            color: $gray;
            font-size: 18px;
            margin-right: 5px;
        }

        span {
            color: #26252487;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: #b3b3b3;
                top: 50%;
            }
        }
    }

    .img-fit,
    .img-contain {
        height: 340px;
        margin-bottom: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: #f2f2f2;

        @media(max-width:1200px) {
            height: 600px;
        }

        @media(max-width:768px) {
            height: 400px;
        }

        @media(min-width:1500px) {
            height: 415px;
        }
    }

}


#offers {
    position: relative;
    height: 600px;
    // @media(max-width:1200px){
    //     display: none;
    // }

    @media(max-width:991px) {
        height: auto;
    }

    .img-fit {
        height: 600px;

        @media(max-width:768px) {
            height: 440px;
        }
    }

    a {
        .info_offers {
            color: $white;

            p,
            h5 {
                color: $white;
            }
        }
    }

    .info_offers {
        position: absolute;
        bottom: 20px;
        left: 20px;

        p {
            color: $red;
            font-weight: 600;
        }

        h5 {
            color: $black;
        }
    }

    .offers {
        width: 50%;
        text-align: center;

        h5 {
            font-size: 80px;

            @media(max-width:991px) {
                font-size: 50px;
            }
        }
    }

    .backgroundImg {
        position: relative;
    }


}

#shipping {
    position: relative;

    // @media(max-width:768px) {
    //     padding-top: 85px;
    //     overflow: hidden;
    // }

    // .container {
    //     @media(max-width:768px) {
    //         padding: 0;
    //     }
    // }

    .row {
        @media(min-width:1500px) {
            position: relative;
        }
    }

    h6 {
        text-transform: uppercase;
        margin-bottom: 0;
        padding-right: 390px;
        padding-left: 60px;
        font-weight: 500;

        @media(max-width:1200px) {
            padding: 0;
        }

        .number {
            color: $yellow;

        }
    }

    .input-group {
        input {
            background: transparent;
            color: $white;
            width: 100%;
            padding: 14px;
            border-radius: 10px;
            position: relative;

            &::placeholder {
                color: $white;
                font-size: 14px;
            }
        }

        button {
            position: absolute;
            right: 0;
            padding: 14px 18px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 4px;
        }
    }

    .img-shipping {
        height: 250px;
        width: fit-content;
        position: absolute;
        right: 0;
        bottom: 0px;

        @media(max-width:1400px) {
            right: 0;
        }

        @media(max-width:991px) {
            position: relative;
            width: 380px;
            height: fit-content;
            margin-right: 0;
            left: 20px;
        }
    }

    .text-shipping {
        border: 1px solid #D9D9D9;
        padding: 50px 0;
        border-radius: 5px;

        @media(max-width:991px) {
            // border: none;
            // border-top: 1px solid #d9d9d9;
            overflow: hidden;
            flex-direction: column;
            padding: 30px 20px;
        }
    }

    .input-group {
        @media(max-width:768px) {
            margin-top: 25px;
        }
    }
}

.suscription {
    background: $red;
    border-radius: 0;
    padding: 40px 60px;
    border-radius: 7px;
    color: $white;
    margin-bottom: -80px;
    // position: absolute;
    // bottom: -270px;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        background-image: url(media/images/Logo-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 46%;
        height: 60px;
        bottom: 0;
        filter: invert(1);
        left: 50%;
        transform: translateX(-50%);
    }

    @media(max-width:1200px) {
        width: auto;
    }

    @media(max-width:768px) {
        position: relative;
        bottom: 0;
        // background: #0063FC;
        // border-radius: 0;
        padding: 30px 20px;
    }

    .img-fit {
        height: 102px;
        width: fit-content;

        @media(max-width:768px) {
            height: fit-content;
            width: 107px;
            margin-bottom: 20px;
        }
    }

    .center-all {
        @media(max-width:768px) {
            justify-content: flex-start;
        }
    }

    @media(max-width:768px) {
        &::before {
            content: "";
            position: absolute;
            background-image: url(media/images/Logo-mobile.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 60px;
            bottom: 0;
            filter: invert(1);
        }

    }

    .redes {
        border-top: 1px solid white;
        padding: 20px 0;
        margin-top: 20px;
    }

}