@import "inicio";
@import "category";
@import "single-products";
@import "offers";
@import "shopping-bag";
@import "about-us.scss";
@import "politica-pago-contra-entrega";
@import 'cambios-devoluciones';

.section-title-common-content, .section-subtitle-common-content{
    font-weight: bold;
    color: $dark_blue;
}

.section-title-common-content{
    font-size: 20px;
    border-bottom: 2px solid $red;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    line-height: 1;
    font-weight: 800;
    span{
        background: $red;
        padding:8px 5px;
        border-radius: 5px 5px 0 0;
        display: block;
        margin-right: 10px;
        color: #fff;
    }
}

.section-subtitle-common-content{
    font-size: 18px;
}

.faq-title{
    background: $red;
    padding: 8px 10px;
    line-height: 1;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
}
