@import "inicio";
@import "category";
@import "single-products";
@import "offers";
@import "shopping-bag";
@import "about-us.scss";
@import "politica-pago-contra-entrega";
@import 'cambios-devoluciones';
@import "envio-transporte";
@import 'metodos-pago';

.section-title-common-content,
.section-subtitle-common-content {
    font-weight: bold;
    color: $dark_blue;
}

.section-title-common-content {
    font-size: 20px;
    border-bottom: 2px solid $red;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    line-height: 1;
    font-weight: 800;

    span {
        background: $red;
        padding: 8px 5px;
        border-radius: 5px 5px 0 0;
        display: block;
        margin-right: 10px;
        color: #fff;
    }
}

.section-subtitle-common-content {
    font-size: 18px;
}




.terms-box {
    position: relative;
    padding: 45px 30px;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: calc(100% + 20vw);
        background: $dark_blue;
        z-index: -1;
    }

    h5 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }
}


.swiper-slide {
    .CardProducts {
        .img-contain,
        .img-fit {
            @media (max-width: 768px) {
                height: auto;
            }
        }
    }

}