#bag {
  height: calc(100vh - -120px);
  background: #F3F4F8;

  .step_by_step {
    background: #EBEDF5;
    padding: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .active .bs-stepper-circle {
    background-color: $dark_blue;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      border: 1px solid $dark_blue;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      top: -4px;
    }
  }

  .bs-stepper-label {
    color: $dark_blue;
    font-size: 14px;
  }

  .step-trigger {
    padding: 0 !important;
    display: flex;
    flex-direction: column;

  }

  .bs-stepper-content {
    padding: 35px 0;

    h3 {
      font-size: 26px;
      font-size: 28px;
      font-weight: 700;
    }
  }

  .quantity {
    width: 100px;
    padding: 9px 7px;
    height: 44px;
  }

  .codigo {
    height: 46px;
    padding: 8px 25px;
  }

  .form_contact {
    padding: 32px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: white;

    .row div {
      margin-bottom: 35px;
    }

    input,
    select {
      padding: 16px;
      width: 100%;
      margin: 10px 0;
      border: 1px solid #E1E1E6;
      color: #8D8D99;
    }

    .quam-btn {
      width: 50%;
      color: white;
      padding: initial;

      &:hover {
        color: $dark_blue;
      }
    }
  }
}

.table-bag {


  thead {
    tr th {
      background: rgb(243 244 248);
      padding: 20px 0;
      height: auto;
    }

  }

  tbody {
    tr {
      margin-top: 40px;
      position: relative;
      width: 100%;
      box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
      border-radius: 20px;
      overflow: hidden;
    }

    tr th {
      padding: 20px;
      height: 200px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 415px;
      background: white;
      border-bottom-width: inherit;
    }
  }

  td {
    height: 200px;
    padding: 20px 0;
    width: 180px;
    background: white;
    border-bottom-width: inherit;

    &:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

  }

  .img-fit {
    height: 100%;
    width: 130px;
    margin-right: 20px;

  }

  p {
    margin-bottom: 0;
  }
}

.code {
  max-width: 400px;
  padding: 20px;
  margin-top: 125px;
  border-radius: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #f3f4f8;
  }

  .quam-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

#test-l-2,
#test-l-3,
#test-l-4 {
  .code {
    background: transparent;
    box-shadow: none;
    margin-top: 35px;

    .quam-btn {
      height: 46px;
      padding: 8px 25px;
    }

    h3 {
      margin-bottom: 30px;
    }

    div .img-fit {
      height: 100%;
      width: 90px;
    }

    h5 {
      font-size: 18px;
      font-weight: 800;
    }

    input {
      border: 1px solid #00000042;
      border-radius: 4px;
      background: transparent;
    }

    .quam-btn {
      background: $dark_blue;
      height: 35px;
      right: 6px;
      top: 50%;
      transform: translateY(-63%);
      padding: 3px 20px;
      font-size: 15px;

      &:hover {
        background: white;
      }
    }
  }

  .price {
    font-size: 18px;

    p {
      margin-bottom: 0;
      font-weight: 700;
      margin-right: 10px;
    }

    span {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #b3b3b3;
        top: 50%;
      }

    }
  }

  .purchase {
    margin-bottom: 20px;
  }

  .x {
    background: #FF5238;
    color: white;
    border-radius: 7px;
    padding: 5px 9px;
    margin-left: 13px;
  }

  .form-check {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

}






#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27AE60;
  color: white;
}