#bag {
  height: calc(100vh - -120px);
  background: #f3f4f8;

  .informationBag {
    @media (max-width: 991px) {
      padding: 0 10px;
    }

    .center-all {
      @media (max-width: 991px) {
        justify-content: left;
      }
    }

    .nav-pills .nav-link.active {
      background: none;
      color: black;

      .form-check {
        border: 1px solid $red;
      }

      &:hover {
        color: black;
      }
    }

    ul {
      flex-wrap: nowrap;
      overflow: auto;
    }

    .form-check {
      margin-right: 0;
    }

    .previous {
      position: absolute;
      top: 30px;
      left: 35px;
      padding: 25px;
      background: #ebedf5;
      color: black;
      font-weight: 400;
      font-size: 17px;
      border: none;
      min-width: 200px;
      justify-content: flex-start;

      @media (max-width: 991px) {
        top: 101px;
        left: 13px;
        padding: 10px 3px;
      }
    }
  }

  .step_by_step {
    background: #ebedf5;
    padding: 10px;
    display: flex;
    align-items: center;
    padding: 20px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: flex-start !important;
      align-items: flex-start;
      padding: 20px 0;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: red;
    }

    .bs-stepper-header {
      width: 60%;

      @media (max-width: 991px) {
        margin-bottom: 20px;
        width: 100%;
        justify-content: space-around;
        align-items: baseline;
      }
    }

    .center-all {
      @media (max-width: 991px) {
        justify-content: left;
      }
    }

    .step {
      // width: 20px;
    }

    .bs-stepper-line {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  .active .bs-stepper-circle {
    background-color: $dark_blue;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      border: 1px solid $dark_blue;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      top: -4px;
    }
  }

  .bs-stepper-label {
    color: $dark_blue;
    font-size: 14px;

    @media (max-width: 991px) {
      text-wrap: wrap;
    }
  }

  .step-trigger {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
  }

  .bs-stepper-content {
    padding: 35px 0;

    @media (max-width: 991px) {
      padding-bottom: 0;
    }

    h3 {
      font-size: 26px;
      font-size: 28px;
      font-weight: 700;
    }
  }


  .codigo {
    height: 46px;
    padding: 8px 25px;
  }

  .form_contact {
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: white;

    
  .form-row {
    width: 100%;
  }

    @media (max-width: 991px) {
      padding: 20px;
    }

    input,
    select {
      padding: 12px 16px;
      width: 100%;
      border: 1px solid #e1e1e6;
      color: #8d8d99;
      font-weight: 500;
    }

    
  }

  .circle {
    width: 93px;
    height: 93px;
    background: #52C41A;
    border-radius: 100%;
    margin-bottom: 40px;
    @include center-all;

    i {
      font-size: 60px;
      color: white;
    }
  }
}

.table-bag {
  h5 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }

  thead {
    border-bottom: 1px solid transparent;

    tr th {
      background: rgb(243 244 248);
      padding: 20px 0;
      &:nth-child(1){
        width: 45%;
      }
    }

    @media (max-width: 991px) {
      width: 100%;
      display: table;
    }
  }

  tbody {
    background: white;
    vertical-align: middle;
    border-radius: 10px;
    // @media(max-width:991px) {
    //   width: 100%;
    //   display: block;
    // }

    tr {
      position: relative;
      width: 100%;
      // box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
      border-radius: 20px;
      overflow: hidden;
    }

    tr th {
      // padding: 20px 0;
      padding: 0;
      height: 150px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
      width: 415px;
      background: transparent;
      border-bottom-width: inherit;
      margin-bottom: 20px;
    }

    svg {
      height: 27px;
    }
  }

  td {
    // height: 150px;
    // padding: 20px 0;
    padding: 0;
    // width: 180px;
    background: transparent;
    border-bottom-width: inherit;
    margin-bottom: 20px;

    &:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
    }
  }

  .img-contain {
    min-width: 120px;
    width: 120px;
    aspect-ratio: 1 / 1.2;
    margin-right: 20px;
  }

  p {
    margin-bottom: 0;
  }
}

.code {
  width: 100%;
  padding: 20px;
  margin-top: 90px;
  border-radius: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;

  // @media(max-width:991px) {
  //   position: fixed;
  //   width: 100%;
  //   max-width: 100%;
  //   left: 0;
  //   bottom: 0;
  //   z-index: 99;
  // }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #f3f4f8;
  }

  .quam-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  
}
@media (max-width:992px) {
  .code{
    width: 100%;
    margin-top: 15px;
  }
}

#test-l-1 {
  .code {
    @media (max-width: 991px) {
      position: fixed;
      width: 100%;
      max-width: 100%;
      left: 0;
      bottom: 0;
      z-index: 99;
      border-radius: 26px 26px 0px 0px;
      overflow: auto;
      padding-bottom: 15px;
      height: 290px;
      padding-bottom: 70px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .btn-next {
        bottom: 0;
        position: fixed;
        z-index: 8;
        height: 57px;
        left: 0;
      }

      .custom-check {
        font-size: 13px;
      }
    }

    input {
      border: 1px solid #00000042;
      border-radius: 10px;
      background: transparent;
      height: 50px;
      letter-spacing: 1px;
    }

    .codigo {
      background: $dark_blue;
      right: 6px;
      top: 50%;
      transform: translateY(-63%);
      font-size: 15px;
      height: 40px;

      &:hover {
        background: white;
      }

      @media (max-width: 991px) {
        right: 0;
        bottom: 0;
        height: 50px;
      }
    }

    .check input {
      @media (max-width: 991px) {
        height: 15px;
      }

      @media (max-width: 500px) {
        height: 26px;
      }
    }
  }

  .next {
    font-size: 20px;
    padding: 14px 25px;
    margin: inherit;
    @include center-all;
    cursor: pointer;
    font-weight: 500;
    text-align-last: center;
    letter-spacing: 1px;

    // @media(max-width:991px) {
    //   top: auto;
    //   right: 0;
    //   bottom: 0;
    //   transform: translateY(0px);
    //   height: inherit;
    // }
  }

  table {
    @media (max-width: 578px) {
      overflow: auto;
      display: grid;
    }

    // @media(max-width:991px) {
    //   position: relative;
    //   display: block;
    //   overflow-x: auto;
    // }
  }
}

#test-l-4 {
  // .next {
  //   bottom: 134px !important;
  //   @media(max-width:991px){
  //     bottom: 0 !important;
  //   }
  // }
}

#test-l-2,
#test-l-3,
#test-l-4 {
  .code {
    background: transparent;
    box-shadow: none;
    margin-top: 35px;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    .quam-btn {
      height: 46px;
      padding: 8px 25px;
    }

    h3 {
      margin-bottom: 30px;
    }

    div .img-fit {
      height: 100%;
      width: 90px;
    }

    h5 {
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
    }

    input {
      border: 1px solid #00000042;
      border-radius: 4px;
      background: transparent;
      height: 65px;
      letter-spacing: 1px;
    }

    .quam-btn {
      background: $dark_blue;
      right: 6px;
      top: 50%;
      transform: translateY(-63%);
      font-size: 15px;

      &:hover {
        background: white;
      }
    }
  }

  .btn-step-next {
    @media (max-width: 991px) {
      position: fixed;
      width: 100%;
      max-width: 100%;
      left: 0;
      bottom: 0;
      z-index: 10;
      border-radius: 26px 26px 0px 0px;
      overflow: auto;
      background: white;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      button{
        width: 100%;
      }
    }
  }

  // .next {
  //   position: absolute;
  //   bottom: 30px;
  //   left: 33px;
  //   font-size: 20px;
  //   padding: 14px 25px;
  //   margin: inherit;
  //   @include center-all;
  //   cursor: pointer;
  //   font-weight: 500;
  //   text-align-last: center;
  //   letter-spacing: 1px;

  //   @media (max-width: 991px) {
  //     width: 100%;
  //     position: relative;
  //     bottom: auto;
  //     left: auto;
  //   }

  //   // @media(max-width:991px) {
  //   //   position: fixed;
  //   //   width: 100%;
  //   //   max-width: 100%;
  //   //   left: 0;
  //   //   bottom: 0;
  //   //   z-index: 99;
  //   //   border-radius: 26px 26px 0px 0px;
  //   //   overflow: auto;
  //   //   padding-bottom: 15px;
  //   // }
  // }

  .price {
    font-size: 18px;

    p {
      margin-bottom: 0;
      font-weight: 500;
      margin-right: 10px;
    }

    span {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #b3b3b3;
        top: 50%;
      }
    }
  }

  .purchase {
    margin-bottom: 20px;
  }

  .x {
    background: #ff5238;
    color: white;
    border-radius: 7px;
    padding: 4px 7px;
    margin-left: 13px;
  }

  .form-check {
    background: white;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
    min-width: 198px;
    margin-right: 20px;
    @include center-all;
    height: 115px;
    border: none;

    @media (max-width: 768px) {
      min-width: 170px;
    }

    .img-fit {
      height: fit-content;
      margin-bottom: 15px;
      width: 42px;
    }

    &:active {
      border: 1px solid $red;
    }
  }

  .form-check.active {
    border: 2px solid $red;
  }
}

#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}


// metodos de pago
.container_payment_method{
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 120px;
  margin: 20px 20px 20px 5px;
  position: relative;
  input:checked + label{
    border: 2px solid $dark_blue;
  }
    .payment_label{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
}
.shop-info-btn[disabled]{
  background: #dfdfdf;
  color: white;
  cursor: default;
  border: 1px solid #ffffff;
}
.shop-info-btn[disabled]:hover{
  background: #dfdfdf;
  color: white;
  cursor: default;
  border: 1px solid #ffffff;
}
.shop-info-btn{
  background: #002d72;
  color: white;
  width: 350px;
  padding: 14px 25px;
  font-size: 20px;
  font-weight: 500;
  text-align-last:center;
  letter-spacing:1px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #002d72;
  transition: .2s;
}
.shop-info-btn:hover{
  background: #ffffff;
  color: #002d72;
  border: 1px solid #002d72;
}


// btn code

// .quam-btn-responsive{
//   background: #002d72;
//   color: white;
//   width: 350px;
//   padding: 14px 25px;
//   font-size: 20px;
//   font-weight: 500;
//   text-align-last:center;
//   letter-spacing:1px;
//   border-radius: 2px;
//   cursor: pointer;
//   border: 1px solid #002d72;
//   transition: .2s;
// }
// .quam-btn-responsive:hover{
//   background: #ffffff;
//   color: #002d72;
//   border: 1px solid #002d72;
// }

// btn responsive checkout
.btn-checkout-form{
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 20px;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 99;
}
.btn-checkout-form .quam-btn{
  top: auto;
  left: 0;
  background: #002d72;
  color: white;
  width: 80%;
  margin: auto;
  padding: 14px 25px;
  font-size: 18px;
  font-weight: 500;
  text-align-last:center;
  letter-spacing:1px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #002d72;
  transition: .2s;
}

// tikect de la orden
.ticket-order{
  margin: 20px auto;
  width: 100%;
  text-align: center;
  svg{
    color: #52C41A;
    width: 90px;
    height: 90px;
    margin: 20px auto ;
  }
  >p{
    font-size: 35px;
    font-weight: 700;
  }
  ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .order_details li{
      border: none;
    }
    li{
      text-align: center;
      padding: 10px;
      width: 100%;
      color: #1C1C1C;
      font-size: 18px;
      a{
        max-width: 300px;
        margin: 10px auto; 
        width: 100%;
        padding: 20px;
        background: #002d72;
        display: block;
        color: white;
        font-weight: 700;
        font-size: 20px;
        border-radius: 2px;
      }
    }
  }
  .cont-btn-payu form #submit_payu_latam{
    max-width: 300px;
    margin: 30px auto; 
    width: 100%;
    padding: 10px;
    background: #002d72;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 2px;
    border: none;
  }
  .cont-btn-payu{
    p span{
        display: block;
        width: 100%;
        font-size: 35px;
        font-weight: 700;
        margin: 20px 0;
      }    
  }
}

.container-pago-payu{
  margin-top: 200px;
  box-shadow: 0 5px 5px white;
  .message-payment-checked{
    svg{
      color: #52C41A;
      width: 90px;
      height: 90px;
      margin: 20px auto ;
    }
    h3{
      font-size: 35px;
      font-weight: 700;
    }
  }
  .container-table-payu{
    max-width: 700px;
    margin: auto;
    border-radius: 5px;
    padding: 10px 0 15px;
    table{
      width: 100%; 
      border: 1px solid rgb(221, 221, 221);
      border-radius: 5px;
      th{
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
      }
      td{
        padding: 10px 20px;
      }
      tr:nth-child(even){
        background: rgb(250, 250, 250);
      }
      tr td:nth-child(1){
        text-align: start;
        font-weight: 600;
      }
    }
  
  }  a{
    max-width: 300px;
    margin: 30px auto 10px; 
    width: 100%;
    padding: 10px;
    background: #002d72;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 2px;
  }
}
