#Singleimgprincipal {
  @media (max-width: 768px) {
    padding-bottom: 130px;
  }

  .container {
    @media (max-width: 991px) {
      padding: 0;
      .row {
        margin: 0;
      }
    }
  }

  .row {
    @media (max-width: 768px) {
      .imgP {
        // order: 2;
        padding: 0;
      }

      .gallery {
        // order: 1;
        padding: 0;
      }

      .information-product {
        // order: 3;
        padding: 0;
      }
    }
  }

  .offcanvas-header {
    bottom: 0;
    position: fixed;
    z-index: 8;
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 1.35) 0px 5px 15px;
  }

  .offcanvas-body {
    padding: 24px;

    @media (max-width: 991px) {
      padding: 24px 33px;
    }

    .ref-number {
      color: $dark-blue !important;
      font-size: 14px !important;
    }

    .section-subtitle {
      font-size: 22px !important;
    }

    .characteristics .nav-pills .nav-link.active {
      background: transparent !important;
      color: black !important;
      font-weight: 700 !important;
      border: 0 !important;
      border-bottom: 2px solid $dark-blue !important;
      border-radius: 0 !important;
    }

    .characteristics .nav-pills .nav-link {
      border: 0;
    }

    #generation .generationSwiper {
      margin-top: 0px !important;
    }

    #generation .generation-arrows {
      background: #e2e2e2;
      min-height: 40px;
      width: 40px;
      border: none;

      i {
        color: black;
      }
    }
  }
}

.SingProducts {
  // position: sticky;
  // top: 80px;
  height: calc(100vh - 200px);

  @media (max-width: 991px) {
    display: none;
    height: 85px;
    margin-bottom: 30px;
  }

  .swiper-wrapper {
    // @media (min-width: 991px) {
    //   display: flex;
    //   flex-direction: column;
    //   height: 100%;
    //   height: 520px !important;
    // }
  }

  .swiper-slide {
    height: auto;
    @include center-all;
    > div {
      height: 100%;
      img {
        object-fit: cover;
        object-position: center;
        -o-object-fit: cover;
        -o-object-position: center;
        width: 100%;
        height: 100% !important;
      }
    }
    // @media (min-width: 991px) {
    //   width: 100% !important;
    //   margin-left: 0;
    //   height: 70px !important;
    //   overflow: hidden;
    // }

    // @media (min-width: 1500px) {
    //   height: 110px !important;
    // }
  }

  .swiper-slide-thumb-active {
    border: 2px solid $dark_blue;
  }

  .img-fit {
    height: 100%;
  }
}

.SingProducts2 {
  height: calc(100vh - 200px);
  .swiper-slide {
    height: calc(100vh - 200px);
    .rtwpvg-single-image-container {
      height: 100%;
      img {
        object-fit: contain;
        object-position: center;
        -o-object-fit: contain;
        -o-object-position: center;
        width: 100%;
        height: 100% !important;
      }
    }

    .img-contain {
      border: 1px solid #eee;
    }
    @media (max-width: 991px) {
      height: auto;
    }
    @media (min-width: 1200px) {
      height: 100% !important;
      padding-left: 20px;
    }

    @media (max-width: 768px) {
      height: 100% !important;
    }
  }

  @media (max-width: 991px) {
    height: auto;
    margin-bottom: 30px;
  }

  .swiper-wrapper {
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  .swiper-scrollbar {
    left: 0;
    top: 0;

    @media (max-width: 991px) {
      display: none;
    }
  }

  /* Estilo del cursor de la barra de desplazamiento */
  .swiper-scrollbar-drag {
    background-color: $dark_blue;
    /* Color de fondo del cursor */
  }

  /* Estilo de la barra de desplazamiento cuando se pasa el cursor por encima */
  .swiper-scrollbar:hover .swiper-scrollbar-drag {
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el cursor */
  }

  .swiper-wrapper {
    @media (min-width: 1200px) {
      height: 100% !important;
      // display: flex;
      // flex-direction: column;
    }
  }
}

.rtwpvg-thumbnail-wrapper {
  @media (max-width: 991px) {
    display: none !important;
  }
}

.bag {
  flex-direction: column;
  display: flex;
  height: 125px;
  width: 100%;
  // &.show-bag{
  //     background: white;
  //     height: auto;
  //     top: 150px;
  //     position: fixed;
  // }
}

.rtwpvg-container {
  flex-direction: row-reverse !important;
}
.rtwpvg-thumbnail-wrapper {
  width: 110px;
  min-width: 110px;
}

.entry-summary {
  .info-product {
    > div {
      .price {
        // order: 3;
        font-size: 35px !important;
        color: $black !important;
        + .hydrated{
          display: none;
        }
      }
      .product-actions {
        // order: 4;
        .reset_variations {
          display: none !important;
        }
        .variations tbody {
          tr {
            display: grid;
            .label {
              display: block !important;
            }
            .cfvsw-swatches-container {
              margin-bottom: 18px;
            }
            .cfvsw-swatches-container[swatches-attr="attribute_pa_color"] {
              .cfvsw-swatches-option {
                width: 50px;
                height: 50px;
                padding: 0;
                border: 0;
                border-radius: 6px !important;
                &.cfvsw-selected-swatch {
                  padding: 4px;
                }
              }
            }
            .cfvsw-swatches-container[swatches-attr="attribute_pa_talla"] {
              .cfvsw-swatches-option {
                border: 1px solid #1c1c1c;
                width: 65px;
                height: 40px;
                font-size: 16px;
                line-height: 1;
                &.cfvsw-selected-swatch {
                  background: #1c1c1c;
                  color: #fff;
                }
                &.cfvsw-swatches-out-of-stock {
                  opacity: 0.4;
                }
              }
            }
          }
        }
      }
      .quam-btn {
        width: 100%;
        height: auto;
        padding: 10px;
      }
    }
  }
  @media (max-width:991px){
    margin-bottom: 0;
    .product_meta, .product_title, .price, .share {
      display: none;
    }
    
  }
}

.info-product {
  max-width: 740px;
}

.information-product {
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
  }

  .price {
    p {
      margin-bottom: 0;
      color: $black;
      font-size: 40px;
      margin-right: 5px;

      @media (max-width: 991px) {
        font-size: 25px;
        font-weight: 600;
      }
    }

    // span {
    //   color: #26252487;
    //   position: relative;
    //   font-size: 20px;

    //   @media (max-width: 991px) {
    //     font-size: 17px;
    //   }

    //   &:before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 2px;
    //     background: #b3b3b3;
    //     top: 50%;
    //   }
    // }
  }

  .quam-btn {
    width: 100%;
  }

  .ref-number {
    color: #aaa;
    display: block;
    font-size: 15px;
  }

  .product-feature {
    margin-bottom: 30px;
    strong {
      color: $black;
      display: block;
      margin-bottom: 5px;
      margin-right: 6px;

      + p {
        color: #ddd;
        text-transform: capitalize;
      }
    }

    .size {
      @media (max-width: 768px) {
        flex-wrap: wrap;
        display: flex;

        label {
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .text-product {
    margin-bottom: 40px;
  }

  .product-actions {
    .woocommerce-variation-price {
      margin-bottom: 18px;
      font-size: 30px;
      bdi,
      ins {
        text-decoration: none;
      }
      .price:has(del) {
        display: flex;
        flex-direction: row;
        ins {
          order: 1;
          margin-right: 10px;
        }
        del {
          order: 2;
          opacity: 0.4;
        }
      }
    }
    .variations {
      .reset_variations {
        display: none !important;
      }
      tbody {
        tr {
          display: grid;
          .label {
            display: block !important;
          }
          .cfvsw-swatches-container {
            margin-bottom: 18px;
          }
          .cfvsw-swatches-container[swatches-attr="attribute_pa_color"] {
            .cfvsw-swatches-option {
              width: 50px;
              height: 50px;
              padding: 0;
              border: 0;
              border-radius: 6px !important;
              &.cfvsw-selected-swatch {
                padding: 4px;
              }
            }
          }
          .cfvsw-swatches-container[swatches-attr="attribute_pa_talla"] {
            .cfvsw-swatches-option {
              border: 1px solid #1c1c1c;
              width: 65px;
              height: 40px;
              font-size: 16px;
              line-height: 1;
              &.cfvsw-selected-swatch {
                background: #1c1c1c;
                color: #fff;
              }
              &.cfvsw-swatches-out-of-stock {
                opacity: 0.4;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      &.show-bag {
        background: white;
        height: auto;
        top: 150px;
        position: fixed;
        transition: all 0.2s;
      }

      .quantity {
        margin-right: 15px;

        @media (max-width: 600px) {
          margin-right: 10px;
        }
      }

      .add-cart {
        width: 100%;
      }

      .quantity,
      button {
        margin-bottom: 0;
      }
    }

    .infoMobile {
      overflow: scroll;
    }

    .quam-btn {
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
  }
}

.button-heart {
  aspect-ratio: 1;
  border: 1px solid $dark_blue;
  min-width: 48px;
  color: #000;
  @include center-all;
  transition: all 0.2s;
  svg {
    transition: all 0.2s;
  }

  @media (max-width: 600px) {
    margin-left: 10px;
    min-width: 40px;
    height: 40px;
  }

  .icon-heart {
    font-size: 20px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba($dark_blue, 0);
  }

  &.active-fav {
    color: $red;
    border-radius: 50px;
    border: 1px solid $red;
    svg {
      fill: currentColor;
    }
    &::before {
      animation: pulse-animation-added 1s 0.2s forwards;
    }
  }
  &.adding {
    border-radius: 10px;
    svg {
      opacity: 0.5;
      transform: scale(0.85);
      transform-origin: center;
    }
    &::before {
      animation: pulse-animation 1s infinite;
    }
  }
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba($dark_blue, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba($dark_blue, 0);
    }
  }
  @keyframes pulse-animation-added {
    0% {
      box-shadow: 0 0 0 0px rgba($red, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba($red, 0);
    }
  }
}



.share {
  i {
    margin-right: 8px;
    font-size: 23px;

    &:first-child {
      margin-left: 10px;
    }
  }
}

.characteristics {
  .tabs {
    &:before,
    &::after {
      display: none !important;
    }
    li {
      margin-bottom: 13px;
      &:before,
      &::after {
        display: none;
      }
      a {
        border: 1px solid $dark_blue;
        padding: 15px !important;
      }
      &.active {
        a {
          background: $dark_blue;
          color: $white !important;
        }
      }
    }
  }
  .nav-pills .nav-link,
  .tabs a {
    color: $black;

    @media (max-width: 768px) {
      padding: 10px;
      margin-right: 10px;
      min-width: 150px;
    }

    @media (max-width: 420px) {
      min-width: 200px;
    }
  }

  .nav {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: row !important;
      width: 100% !important;
      overflow: auto;
      flex-wrap: nowrap;
    }
  }

  .information-product {
    .section-subtitle {
      margin-bottom: 0px;

      @media (max-width: 991px) {
        font-size: 14px;
      }
    }

    .price {
      p {
        margin-bottom: 0;
        color: $black;
        font-size: 40px;
        margin-right: 5px;

        @media (max-width: 991px) {
          font-size: 25px;
        }
      }

      span {
        color: #26252487;
        position: relative;
        font-size: 20px;

        @media (max-width: 991px) {
          font-size: 17px;
        }

        // &:before {
        //   content: "";
        //   position: absolute;
        //   width: 100%;
        //   height: 2px;
        //   background: #b3b3b3;
        //   top: 50%;
        // }
      }
    }

    .quam-btn {
      width: 100%;
    }

    .ref-number {
      color: #aaa;
      display: block;
      font-size: 15px;
    }

    .text-product {
      margin-bottom: 40px;
    }

    .product-actions {
      @media (max-width: 991px) {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        padding: 20px !important;
        background: white;
        margin-bottom: 0 !important;
        height: 186px;
        justify-content: center;
        width: 100%;
        z-index: 99;
        box-shadow: 0px -3px 15px #3e3e3e2e;
        flex-direction: column;
        transition: all 0.2s;

        &.show-bag {
          background: white;
          height: auto;
          top: 150px;
          position: fixed;
          transition: all 0.2s;
        }

        .quantity {
          margin-right: 15px;

          @media (max-width: 600px) {
            margin-right: 10px;
          }
        }

        .add-cart {
          width: 100%;
        }

        .quantity,
        button {
          margin-bottom: 0;
        }
      }

      .infoMobile {
        overflow: scroll;
      }

      .quam-btn {
        height: auto;
        padding: 10px;
      }
    }
  }
}

.generation_product {
  .generationSwiper {
    height: 100%;
    position: relative;
  }

  .arrow-prev-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    left: 0 !important;

    button {
      margin-top: 0px !important;
    }
  }

  .arrow-next-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    right: 222px !important;

    @media (max-width: 768px) {
      right: 0 !important;
      left: auto;
    }

    button {
      margin-top: 0px !important;

      // left: auto !important;
    }
  }
}

.related-swiper {
  .arrow-prev-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    left: 30px !important;

    button {
      margin-top: 0px !important;
    }
  }

  .arrow-next-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    right: 30px !important;

    @media (max-width: 768px) {
      right: 0 !important;
      left: auto;
    }

    button {
      margin-top: 0px !important;

      // left: auto !important;
    }
  }
}

.product-actions {
  @media (max-width: 991px) {
    height: auto !important;
  }
}

.sm-floating-box {
  .section-subtitle {
    margin-bottom: 0px;
    font-weight: 800;

    @media (max-width: 991px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 991px) {
    #box-draggable {
      transition: transform 0.2s linear;
      > div {
        overflow: auto;
        max-height: calc(100vh - 80px);
        box-shadow: 0 -5px 15px rgba($dark_blue, 0.15);
      }
    }
    position: fixed;
    z-index: 12;
    top: 100%;
    width: 100%;
    left: 0;
  }
}


// estilos single products r
@media (max-width: 991px) {
  .sm-floating-box {
    bottom: 0;
    height: 150px;
    /* Initial height */
    overflow-y: hidden;
    /* Hide overflow */
    transition: height 0.3s ease;


    top: unset;
  }

  .sm-floating-box.expanded {
    z-index: 10;
    overflow-y: auto;
    /* Enable scrolling */
    overscroll-behavior: none;

  }
}
@media (max-width:450px) {
  .sm-floating-box{
    height: 155px;
  }
}

.single_variation_wrap{
  h4{
    font-size: 16px;
    font-weight: 600px;
  }
  tr td:nth-child(1){
    font-weight: 600;
  }
  td{
    padding: 5px 10px;
    font-size: 12px;
  }
}